<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Template.css">
    <script src="Fudge/FudgeCore.js"></script>
    <script src="FudgeStory/FudgeStory.js"></script>
    <script src="./Build/Template.js"></script>

    <script src="./node_modules/jquery/dist/jquery.js"></script>
    <script src="./Scripts/Nightmare.js"></script>
    <title>Yet Another Ghost Story</title>
    <splash class="splash" src="Images/Splash.gif"></splash>

  </head>
 

  <div id="flashlight"></div>

  <div id="container">
    <img class='ghost1' id="ghost1" src="./Images/Characters/Ghosts/ghost_faceless.png" />




  <body>
   

    <div class="sanityContainer" id="sanityContainer"> Sanity
      <div class="progress">


        <div id="sanity" class="progress__bar"></div>
      </div>
    </div>
  
    <map></map>


    <scene>
      <canvas>
      </canvas>


      <speech>
        <name></name>
        <content></content>

      </speech>


      <dialog type="text">

      </dialog>

      <dialog id="gameMenu">
      </dialog>



    </scene>

  </body>

  </html>