html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
 
  overflow: hidden;
  font-family: 'Gill Sans MT', sans-serif;
  background-color:rgba(0,0,0,1.00);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

body * {
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}




#flashlight:before {
  z-index: 500;
  content: '';
 display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.20) 50%,
    rgba(0,0,0,.95) 100%
  )
}



scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
  position: absolute;


}

canvas {
  width: 100%;
  height: 100%;

}



/* speech bar */

speech {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: beige;
  width: 100%;
  height: 20vh;
  border-top: #1c1c1c 1px solid;
  background-image: radial-gradient(100% 100% at 100% 0, rgba(8, 16, 31, 0.9) 0,rgba(27, 36, 56, 0.9) 50%,rgba(43, 48, 58, 0.9) 100%);
  background-repeat: no-repeat;
  background-size: 100% !important;
  display: inline-block;
  z-index: 9999999;
}

speech content{ display: inline-block;
  font-size: 3vh;
  font-family: 'Gill Sans MT', sans-serif;
  padding: 0.3vh;
  pointer-events: none;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  padding-left: 1vh;
padding-top: 0.5vh;    z-index: 9999999;
}

speech name{  display: inline-block;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  background-color: rgba(10, 16, 26, 0.9);
  font-size: 2.5vh;
  font-family: 'Gill Sans MT', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: block;
  border-bottom: #969696 1px solid;
  padding: 0.3vh;
  pointer-events: none;
  height: 3.25vh;
  padding-left: 3vh;
  box-shadow: 5px 5px 5px black;   z-index: 9999999;
}





div {
  background-color: #1c1c1c;
  color: black;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 1.5vh;
}


dialogbg {
  background-image: url("./Images/Backgrounds/logo_animated.gif");
  background-repeat: no-repeat;
  background-size: 100%;    z-index: 9999999;
}


div {
  background-color: #1c1c1c;
  color: black;
  font-family: 'Gill Sans MT', sans-serif;
  font-size: 1.5vh;    z-index: 9999999;
}

dialog>p {
  color: white;
  font-family: 'Franklin Gothic Medium';
  font-size: 3vh;    z-index: 9999999;
}

/* example for Text print */

dialog[class="start"] {
  height: 30em;
  width: 20em;
  color: rgb(223, 223, 223);
  background-color: rgba(36, 36, 36, 0.7);
  line-height: 1.5;
  border-radius: 10px 0px 0px 0px;
  background-image: none;    z-index: 9999999;
}






/* Ingame-Menu */

dialog[class="gameMenu"] {
  background-color: transparent;
  background-image: none;
  border: none;
  z-index: 9999999;
}


dialog.credits {
  color: white;
  background-image: none;
  background-color: #1c1c1c;  z-index: 9999999;
}


.titlebg{
  background-image: url("./Images/Backgrounds/logo_animated.gif");
  background-repeat: no-repeat;
  background-size: 100%;

}



dialog.class{

  border: none;
 background-color: rgba(9, 14, 24, 0);
margin-bottom: 20vh;
text-align: center;  z-index: 9999999;
}


dialog.class::before {
  font-weight: bold;
  color: rgb(255, 255, 255);
  content: "--- Answer ---";
  text-align: center;


}

dialog.class button:hover{
  background-color: rgba(65, 85, 126, 0.7);
  cursor: pointer;
}


/* CSS */
dialog.class button{
  display: block;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, rgba(8, 16, 31, 0.9) 0,rgba(27, 36, 56, 0.9) 50%,rgba(43, 48, 58, 0.9) 100%);

  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
width: 40vw;
margin: 1.5vh;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 2vh;

}
/* CSS */
.gameMenu button{
  display: inline-flex;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #262a38 0, #201b1e 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 32px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.5vh;
margin: 0.1vw;
}



button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #adb1cc 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #adb1cc 0 -3px 0 inset;
  transform: translateY(-2px);
}



.sanityContainer{
  color: #fff;
background-color: transparent;
position: absolute;
margin-left: 10vw;
z-index: 8;
padding: 0px;
width: 100%;
height: 16px;
max-width: 500px;
margin-top: 10vh;
display: inline-block;
z-index: 9999999;
}

.sanityContainer .progress {


  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  height: 16px;  overflow: hidden;
  z-index: 9;
  box-shadow: 4px 6px rgba(85, 107, 150, 0.2);


}
.sanityContainer .progress .progress__bar {
  height: 100%;
  width: 0;
  border-radius: 4px;
  background: red;
  transition: 0.3s;
  z-index: 10;
}


img.ghost1 {
  z-index: 99;
  position:absolute;

}